In [1]:
import os
import psycopg2
import pandas as pd

### 刪除表格

In [60]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a qianqianguanjia').read()[:-1]

conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

delete_table_query = '''DROP TABLE IF EXISTS calculate_data'''

cursor.execute(delete_table_query)
conn.commit()

### 建立表格

In [61]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a qianqianguanjia').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')

cursor = conn.cursor()

SQL_order = '''CREATE TABLE payment_data(
           record_no serial PRIMARY KEY,
           group_id VARCHAR (50) NOT NULL,
           payer VARCHAR (50) NOT NULL,
           product VARCHAR (20) NOT NULL,
           cost INTEGER NOT NULL,
           date DATE NOT NULL
        );'''
cursor.execute(SQL_order)
conn.commit()

cursor.close()
conn.close()

In [62]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a qianqianguanjia').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')

cursor = conn.cursor()

SQL_order = '''CREATE TABLE member_data(
           record_no serial PRIMARY KEY,
           group_id VARCHAR (50) NOT NULL,
           member_id VARCHAR (50) NOT NULL
        );'''
cursor.execute(SQL_order)
conn.commit()

cursor.close()
conn.close()

In [63]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a qianqianguanjia').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')

cursor = conn.cursor()

SQL_order = '''CREATE TABLE record_data(
           record_no serial PRIMARY KEY,
           group_id VARCHAR (50) NOT NULL,
           user_id VARCHAR (50) NOT NULL,
           condition VARCHAR (10),
           product VARCHAR (50),
           price VARCHAR (50),
           date VARCHAR (50)
        );'''
cursor.execute(SQL_order)
conn.commit()

cursor.close()
conn.close()

In [64]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a qianqianguanjia').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')

cursor = conn.cursor()

SQL_order = '''CREATE TABLE calculate_data(
           record_no serial PRIMARY KEY,
           group_id VARCHAR (50) NOT NULL,
           condition VARCHAR (50)
        );'''
cursor.execute(SQL_order)
conn.commit()

cursor.close()
conn.close()

### 匯入資料

In [4]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a qianqianguanjia').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

record = ('hey', 'In Bed', 'TRUE,飲料 書 餅乾,200,2022/08/27') #同時很多筆的時候要寫成list
table_columns = '(group_id, user_id, product)'
postgres_insert_query = f"""INSERT INTO record_data {table_columns} VALUES (%s, %s, %s);"""

cursor.execute(postgres_insert_query, record) #同時很多筆的時候改成executemany
conn.commit()

count = cursor.rowcount

print(count, "Record inserted successfully into record_data")

cursor.close()
conn.close

1 Record inserted successfully into record_data

In [11]:
data = []
while True:
    temp = cursor.fetchone()
    if temp:
        data.append(temp)
    else:
        break
print(data)

InterfaceError: cursor already closed

In [60]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a qianqianguanjia').read()[:-1]

conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()
target = 'C697397db6633abf8682a1f9c48973d5a'
delete_temp_data = f'''DELETE FROM member_data 
                       WHERE group_id = '{target}';
                    '''

cursor.execute(delete_temp_data)
conn.commit()

cursor.close()
conn.close()

In [16]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a qianqianguanjia').read()[:-1]

conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()
n = "08"
group = "('cookie')"
postgres_select_query = f"""SELECT * FROM payment_data;
                            """

cursor.execute(postgres_select_query)
raw = cursor.fetchall()

In [17]:
data = raw
data

[(3,
  'C697397db6633abf8682a1f9c48973d5a',
  'U70fb335841b02167ed020507b7b2eda8',
  '水費',
  800,
  datetime.date(2022, 9, 15)),
 (4,
  'C697397db6633abf8682a1f9c48973d5a',
  'U70fb335841b02167ed020507b7b2eda8',
  '水費',
  800,
  datetime.date(2022, 9, 15)),
 (5,
  'C697397db6633abf8682a1f9c48973d5a',
  'U70fb335841b02167ed020507b7b2eda8',
  '網路費',
  1000,
  datetime.date(2022, 9, 15)),
 (6,
  'C697397db6633abf8682a1f9c48973d5a',
  'U70fb335841b02167ed020507b7b2eda8',
  '電費',
  1300,
  datetime.date(2022, 9, 17)),
 (7,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U70fb335841b02167ed020507b7b2eda8',
  '水費',
  800,
  datetime.date(2022, 9, 17)),
 (8,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U0ea6425c1b0b7a8a989780bdd13e27d1',
  '午餐',
  100,
  datetime.date(2022, 9, 23)),
 (9,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U8f2504e24b41980be102b5d54ba0a39a',
  '電費',
  500,
  datetime.date(2022, 9, 23)),
 (10,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U50d2f838f2a3debafd1c56296f783978',
  '卡啦雞腿堡套餐',
  100,
  datetime.date(2022, 9, 23)),
 (11,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U3a6c9e79f9cf8e61c116b0f738106959',
  '清潔費',
  100,
  datetime.date(2022, 9, 23)),
 (12,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U406d9022828bdcd30c3aceb24ecf3099',
  '長祐夢想基金',
  9000,
  datetime.date(2022, 9, 23)),
 (13,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U176bf4e5d2ddd3091af800f355a1ffda',
  '哆啦',
  100,
  datetime.date(2022, 9, 23)),
 (14,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'Ub20b8888af9585580565d8297de42ff4',
  '冷氣',
  2000,
  datetime.date(2022, 9, 22)),
 (15,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U0ea6425c1b0b7a8a989780bdd13e27d1',
  '點心',
  100,
  datetime.date(2022, 9, 23)),
 (16,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U0ea6425c1b0b7a8a989780bdd13e27d1',
  '飲料',
  60,
  datetime.date(2022, 9, 23)),
 (17,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U406d9022828bdcd30c3aceb24ecf3099',
  '長祐夢想基金',
  9,
  datetime.date(2022, 9, 23)),
 (18,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U406d9022828bdcd30c3aceb24ecf3099',
  '何孟青冷氣費',
  46202,
  datetime.date(2022, 9, 1)),
 (19,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U406d9022828bdcd30c3aceb24ecf3099',
  '長祐夢想基金',
  9,
  datetime.date(2022, 9, 23)),
 (20,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U406d9022828bdcd30c3aceb24ecf3099',
  '何孟青冷氣費',
  46202,
  datetime.date(2022, 9, 1)),
 (21,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U176bf4e5d2ddd3091af800f355a1ffda',
  '蘋果電腦',
  23400,
  datetime.date(2022, 10, 10)),
 (22,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U176bf4e5d2ddd3091af800f355a1ffda',
  'iPhone',
  131415,
  datetime.date(2023, 9, 1)),
 (23,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U406d9022828bdcd30c3aceb24ecf3099',
  '何孟青養老金',
  678678,
  datetime.date(2022, 9, 1)),
 (24,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U70fb335841b02167ed020507b7b2eda8',
  '肯德基',
  753,
  datetime.date(2022, 9, 23)),
 (25,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U3a6c9e79f9cf8e61c116b0f738106959',
  '書籍',
  8788,
  datetime.date(2022, 7, 4)),
 (26,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U406d9022828bdcd30c3aceb24ecf3099',
  '發大財',
  1245,
  datetime.date(1998, 1, 7)),
 (27,
  'Cdc247cf9ebf7190fb4252e3dd637a4f6',
  'U50d2f838f2a3debafd1c56296f783978',
  '豬肉滿福堡加蛋',
  79,
  datetime.date(2022, 9, 23))]

In [69]:
df = pd.DataFrame(data, columns = ['record_num', 'group_id', 'user_id', 'condition', 'product', 'price', 'date'])

In [70]:
df

,record_num,group_id,user_id,condition,product,price,date
0,1,C697397db6633abf8682a1f9c48973d5a,U70fb335841b02167ed020507b7b2eda8,None,None,None,None
1,2,C697397db6633abf8682a1f9c48973d5a,U554e3c02d7915d1e4d096ba0bc00b36c,true,房租,10000,2022-09-15

In [4]:
def call_condition(group_id, user_id):
    
    DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a qianqianguanjia').read()[:-1]

    conn = psycopg2.connect(DATABASE_URL, sslmode='require')
    cursor = conn.cursor()
    group = "('"+ group_id + "')"
    user = "('"+ user_id + "')"
    postgres_select_query = f"""SELECT * FROM record_data 
                            WHERE group_id = {group} AND user_id = {user};
                            """
    cursor.execute(postgres_select_query)
    raw_data = cursor.fetchall()
    data = pd.DataFrame(raw_data, columns = ['record_num', 'group_id', 'user_id', 'condition', 'product', 'price', 'date'])
    
    cursor.close()
    conn.close()

    return data

In [6]:
def flex_prepare_record(data): 
    length = len(data["product"][0].split(" "))
    product_list = data["product"][0].split(" ")
    price_list = data["price"][0].split(" ")
    date_list = data["date"][0].split(" ")
    for i in range(len(price_list)):
        price_list[i] = int(price_list[i])
    data_list = []
    for i in range(length):
        data_tuple = (data["group_id"][0], data["user_id"][0], product_list[i], price_list[i], date_list[i])
        data_list.append(data_tuple)
    return data_list

In [5]:
data = call_condition("C697397db6633abf8682a1f9c48973d5a", "U70fb335841b02167ed020507b7b2eda8")
data

,record_num,group_id,user_id,condition,product,price,date
0,4,C697397db6633abf8682a1f9c48973d5a,U70fb335841b02167ed020507b7b2eda8,true,水費,800,2022-09-15

In [12]:
def line_insert_record(record_list):
    DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a qianqianguanjia').read()[:-1]

    conn = psycopg2.connect(DATABASE_URL, sslmode='require')
    cursor = conn.cursor()

    table_columns = '(group_id, payer, product, cost, date)'
    postgres_insert_query = f"""INSERT INTO payment_data {table_columns} VALUES (%s,%s,%s,%s,%s)"""

    cursor.executemany(postgres_insert_query, record_list)
    conn.commit()

    message = f"恭喜您！ {cursor.rowcount} 筆資料成功由錢錢管家掌握！"
    print(message)

    cursor.close()
    conn.close()
    
    return message

In [14]:
def close_condition(group_id, user_id):
    DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a qianqianguanjia').read()[:-1]

    conn = psycopg2.connect(DATABASE_URL, sslmode='require')
    cursor = conn.cursor()
    group_id = "('" + group_id + "')"
    user_id = "('" + user_id + "')"
    delete_temp_data = f'''UPDATE record_data 
                           SET condition = NULL WHERE group_id = {group_id} AND user_id = {user_id};
                           UPDATE record_data
                           SET product = NULL WHERE group_id = {group_id} AND user_id = {user_id};
                           UPDATE record_data
                           SET price = NULL WHERE group_id = {group_id} AND user_id = {user_id};
                           UPDATE record_data
                           SET date = NULL WHERE group_id = {group_id} AND user_id = {user_id};'''

    cursor.execute(delete_temp_data)
    conn.commit()
    message = f"完成！"
    print(message)

    cursor.close()
    conn.close()

In [10]:
if data["date"][0] is not None:      
                record_list = flex_prepare_record(data)

In [11]:
record_list

[('C697397db6633abf8682a1f9c48973d5a',
  'U70fb335841b02167ed020507b7b2eda8',
  '水費',
  800,
  '2022-09-15')]

In [13]:
line_insert_record()

恭喜您！ 1 筆資料成功由錢錢管家掌握！

'恭喜您！ 1 筆資料成功由錢錢管家掌握！'

In [15]:
close_condition("C697397db6633abf8682a1f9c48973d5a", "U70fb335841b02167ed020507b7b2eda8")

完成！

In [42]:
record_list = flex_prepare_record(df)
record_tuple = [record_list]

KeyError: 'price'

In [10]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a qianqianguanjia').read()[:-1]

conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

table_columns = '(group_id, payer, product, cost, date)'
postgres_insert_query = f"""INSERT INTO payment_data {table_columns} VALUES (%s,%s,%s,%s,%s)"""

cursor.executemany(postgres_insert_query, record_tuple)
conn.commit()

message = f"恭喜您！ {cursor.rowcount} 筆資料成功由錢錢管家掌握！"
print(message)

cursor.close()
conn.close()

恭喜您！ 1 筆資料成功由錢錢管家掌握！

In [53]:
def flex_prepare_record(data): 
    length = len(data["product"][0].split(" "))
    product_list = data["product"][0].split(" ")
    price_list = data["cost"][0].split(" ")
    date_list = data["date"][0].split(" ")
    for i in range(len(price_list)):
        price_list[i] = int(price_list[i])
    data_list = []
    for i in range(length):
        data_tuple = (data["group_id"][0], data["member_id"][0], product_list[i], price_list[i], date_list[i])
        data_list.append(data_tuple)
    return data_list

In [32]:
trry = flex_prepare_record(df)
insert_data = [trry]

In [33]:
group_id = "C697397db6633abf8682a1f9c48973d5a"
user_id = "U70fb335841b02167ed020507b7b2eda8"

In [41]:
price_list = "200 500"
list = price_list.split(" ")
for i in range(len(list)):
        list[i] = int(list[i])
list

[200, 500]

In [35]:
insert_data = [('C697397db6633abf8682a1f9c48973d5a',
 'U70fb335841b02167ed020507b7b2eda8',
 '水費',
 '2022\-09\-15',
 '2022\-09\-15')]

In [35]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a qianqianguanjia').read()[:-1]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()
group_id = "('" + group_id + "')"
user_id = "('" + user_id + "')"
delete_temp_data = f'''UPDATE record_data 
                           SET condition = NULL WHERE group_id = {group_id} AND user_id = {user_id};
                           UPDATE record_data
                           SET product = NULL WHERE group_id = {group_id} AND user_id = {user_id};
                           UPDATE record_data
                           SET price = NULL WHERE group_id = {group_id} AND user_id = {user_id};
                           UPDATE record_data
                           SET date = NULL WHERE group_id = {group_id} AND user_id = {user_id};'''

cursor.execute(delete_temp_data)
conn.commit()
message = f"完成！"
print(message)

cursor.close()
conn.close()

完成！

In [36]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a qianqianguanjia').read()[:-1]

conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()
n = "08"
group = "('cookie')"
postgres_select_query = f"""SELECT * FROM record_data
                            WHERE group_id = {group_id} AND user_id = {user_id};
                            """

cursor.execute(postgres_select_query)
raw = cursor.fetchall()

In [39]:
data = raw
data

[(22,
  'C697397db6633abf8682a1f9c48973d5a',
  'U70fb335841b02167ed020507b7b2eda8',
  'true',
  '水費 電費',
  '800 1200',
  '2022-09-15 2022-09-17')]

In [40]:
df = pd.DataFrame(data, columns = ['record_num', 'group_id', 'member_id', 'condition', 'product', 'cost', 'date'])

In [46]:
df

,record_num,group_id,member_id,condition,product,cost,date
0,22,C697397db6633abf8682a1f9c48973d5a,U70fb335841b02167ed020507b7b2eda8,true,水費 電費,800 1200,2022-09-15 2022-09-17

In [55]:
record_list = flex_prepare_record(df)
record_tuple = [record_list]
record_tuple

[[('C697397db6633abf8682a1f9c48973d5a',
   'U70fb335841b02167ed020507b7b2eda8',
   '水費',
   800,
   '2022-09-15'),
  ('C697397db6633abf8682a1f9c48973d5a',
   'U70fb335841b02167ed020507b7b2eda8',
   '電費',
   1200,
   '2022-09-17')]]

In [47]:
st = "string"
isinstance(st, str)

True

In [33]:
condition = []
for i in df["product"]:
    solo_condition ="食物" == i
    condition.append(solo_condition)

print(condition)

[False, True, False, False, False, False, False, False]

In [35]:
True in condition

True

In [19]:
string = data[3]
print(string.split(","))

['["TRUE"]', ' [ 飲料 書 餅乾 ]']

In [81]:
cursor.fetchone()
# fetchmany() 抓出填進括號的數量
# fetchall() 抓全部出來

### 修改資料

In [ ]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a qianqianguanjia').read()[:-1]

conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

training = '牧草訓練'
postgres_update_query = f"""UPDATE payment_data SET training = '牧草進食' WHERE training = %s"""

cursor.execute(postgres_update_query, (training,))
conn.commit()

count = cursor.rowcount

print(count, "Record updated successfully into payment_data")

In [74]:
text = "召喚錢錢管家幫我算一下\n2022-08"
print(text)

召喚錢錢管家幫我算一下
2022-08

In [66]:
def prepare_calculation(text):
    text_list = text.split('\n')
    time = text_list[1]

    return time

def individual_cost(data_frame, name_list):
    paylist = []
    for i in name_list:
        new_df = df1 = data_frame[data_frame['payer'] == i]
        total_pay = [i, new_df['cost'].sum()]
        paylist.append(total_pay)
    
    return paylist

def give_and_take(paylist, average):
    total_list = []
    for i in paylist:
        total = [i[0], i[1]-average]
        total_list.append(total)
    
    return(total_list)

def line_calculate_money(time, group_name): #時間格式：西元年-兩位數月份
    DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a qianqianguanjia').read()[:-1]

    conn = psycopg2.connect(DATABASE_URL, sslmode='require')
    cursor = conn.cursor()
    n = time
    group = "('"+ group_name + "')"
    postgres_select_query = f"""SELECT * FROM payment_data 
                            WHERE group_name IN {group}
                            AND date BETWEEN '{n}-01' AND '{n}-31';
                            """
    cursor.execute(postgres_select_query)
    raw_data = cursor.fetchall()
    cursor.close()
    conn.close()

    data = pd.DataFrame(raw_data, columns = ['record_num', 'group', 'payer', 'product', 'cost', 'date'])

    return data

In [54]:
group = 'hey'
data = line_calculate_money(time, group)
print(data)

   record_num group   payer product  cost        date
0           2   hey  In Bed       書   200  2022-08-15
1           3   hey  In Bed       票  2000  2022-08-27
2           4   hey   Berry      飲料   150  2022-08-15

In [57]:
print(type(data['cost']))

<class 'pandas.core.series.Series'>

In [69]:
group_member_list = ['In Bed', 'Berry']
average = data['cost'].sum()/2

In [70]:
print(average)

783.3333333333334

In [67]:
calculation = individual_cost(data, group_member_list)
print(calculation)

[['In Bed', 2200], ['Berry', 150]]

In [80]:
time = prepare_calculation(text)
group = 'hey'
data = line_calculate_money(time, group)
average = round(data['cost'].sum()/2)
group_member_list = ['In Bed', 'Berry']
calculation = individual_cost(data, group_member_list)
result = give_and_take(calculation, average)
message = ""
for i in range(len(result)):
                if i != 0:
                    if result[i][1] < 0:
                        sentence = "\n" + result[i][0] + "要再付" + str(abs(result[i][1])) + "元"
                    elif result[i][1] == 0:
                        snetence = "\n" + result[i][0] + "不用付錢\n"
                    else:
                        sentence = "\n" + result[i][0] + "要收到" + str(result[i][1]) + "元\n"
                    message = message+sentence
                else:
                    if result[i][1] < 0:
                        sentence = result[i][0] + "要再付" + str(abs(result[i][1])) + "元"
                    elif result[i][1] == 0:
                        snetence = result[i][0] + "不用付錢"
                    else:
                        sentence = result[i][0] + "要收到" + str(result[i][1]) + "元"
                    message = message+sentence

In [79]:
raw = 'Hello\n'
raaw = 'Hi'
trry = raw+raaw
print(trry)

Hello
Hi

In [81]:
print(message)

In Bed要收到1025元
Berry要再付1025元

In [7]:
time = "召喚錢錢管家算一下\n2022-09"
time_list = time.split("\n")
time_list[1]

'2022-09'

In [9]:
DATABASE_URL = os.popen('heroku config:get DATABASE_URL -a qianqianguanjia').read()[:-1]
time = ["2022", "09"]
conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()
year = time[0]
month = time[1]
group_id = "C697397db6633abf8682a1f9c48973d5a"
group = "('"+ group_id + "')"
big = ["01", "03", "05", "07", "08", "10", "11"]
if month in big:
        postgres_select_query = f"""SELECT * FROM payment_data 
                                WHERE group_id = {group}
                                AND date BETWEEN '{year}-{month}-01' AND '{year}-{month}-31';
                                """
elif month == "02" and year % 4 == 0:
        postgres_select_query = f"""SELECT * FROM payment_data 
                                WHERE group_id = {group}
                                AND date BETWEEN '{year}-{month}-01' AND '{year}-{month}-29';
                                """
elif month == "02" and year % 4 != 0:
        postgres_select_query = f"""SELECT * FROM payment_data 
                                WHERE group_id = {group}
                                AND date BETWEEN '{year}-{month}-01' AND '{year}-{month}-28';
                                """                            
else:
        postgres_select_query = f"""SELECT * FROM payment_data 
                                WHERE group_id = {group}
                                AND date BETWEEN '{year}-{month}-01' AND '{year}-{month}-30';
                                """

cursor.execute(postgres_select_query)
raw_data = cursor.fetchall()
data = pd.DataFrame(raw_data, columns = ['record_num', 'group', 'payer', 'product', 'cost', 'date'])
    
cursor.close()
conn.close()

In [22]:
"零食" in pd.Series.tolist(data["product"])

False